
<meta name="theme-color" content="{{ .Site.Params.ThemeColor }}"/>
<link rel="manifest" href="{{ "manifest.webmanifest" | absURL }}">


{{ with resources.Get .Site.Params.logo }}
  {{ with .Fit "32x32" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Permalink }}">
  {{ end }}
  {{ with .Fit "16x16"}}
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Permalink }}">
  {{ end }}
  {{ with .Fit "180x180" }}
  <link rel="icon" type="image/png" sizes="180x180" href="{{.Permalink }}">
  {{ end }}
{{ end }}