@import "core/options";
@import "core/functions";
@import "core/colors";
@import "core/variables";
@import "core/prefers-color-scheme";
@import "core/root";

$enable-amp-prefers-reduced-motion-media-query: true;
$enable-amp-root: true;
$enable-amp-position-classes: true;
$enable-amp-position-fixed-top-class: true;
$enable-amp-position-fixed-bottom-class: true;
$enable-amp-position-sticky-top-class: true;
$enable-amp-masonry: true;
$enable-amp-list-unstyled: true;
$enable-amp-list-inline: true;
$enable-amp-list-inline-item: true;
$enable-amp-border:	true;
$enable-amp-border-rounded:	true;
$enable-amp-border-colors:	true;
$enable-amp-shadows:  true;
$enable-amp-grid-columns-order: true;
$enable-amp-text-alignment: true;
$enable-amp-text-alignment-responsive: true;
$enable-amp-text-color: true;
$enable-amp-blockquote: true;
$enable-amp-badge: true;

$font-size-base: 1.2rem;
$paragraph-margin-bottom: 1.5rem;
$headings-line-height: 2;
$amp-grid-gutter-width: 0px;

// General colours
$primary: $cyan;
$amp-theme-colors: (
  "primary": $cyan
);

// Light mode
$body-bg: white;
$body-color: $dark;
$headings-color: $primary;
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$hr-border-color: $dark;
$main-menu-hover-color: $dark;
$main-menu-hover-mobile-color: $dark;
$footer-color: $gray;
$footer-bg: $dark;
$enable-amp-margin-and-bottom: true;
$text-muted: $gray;

// Dark mode
$body-bg-inverse: $dark;
$body-color-inverse: $gray;
$hr-border-color-inverse: $gray;
$main-menu-hover-color-inverse: $dark;
$main-menu-hover-mobile-color-inverse: $dark;
$footer-color-inverse: $gray;
$footer-bg-inverse: $gray;
$text-muted-inverse: darken($gray, 20%);

//
// Mixins
//

// Vendor
@import "vendor/rfs";

// Deprecate
@import "mixins/deprecate";

// Utilities
@import "mixins/breakpoints";
@import "mixins/hover";
@import "mixins/image";
@import "mixins/badge";
@import "mixins/resize";
@import "mixins/screen-reader";
@import "mixins/size";
@import "mixins/reset-text";
@import "mixins/text-emphasis";
@import "mixins/text-hide";
@import "mixins/text-truncate";
@import "mixins/visibility";

// Components
@import "mixins/buttons";
@import "mixins/caret";
@import "mixins/pagination";
@import "mixins/lists";
@import "mixins/list-group";
@import "mixins/nav-divider";
@import "mixins/forms";
@import "mixins/table-row";

// Skins
@import "mixins/background-variant";
@import "mixins/border-radius";
@import "mixins/box-shadow";
@import "mixins/gradients";
@import "mixins/transition";

// Layout
@import "mixins/clearfix";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/float";


//
// Components
//
@import "components/framework/reboot";
@import "components/framework/type";
@import "components/framework/images";
@import "components/framework/code";
@import "components/framework/grid";
@import "components/framework/masonry";
@import "components/framework/tables";
@import "components/framework/forms";
@import "components/framework/buttons";
@import "components/framework/transitions";
@import "components/framework/dropdown";
@import "components/framework/button-group";
@import "components/framework/input-group";
@import "components/framework/custom-forms";
@import "components/framework/nav";
@import "components/framework/navbar";
@import "components/framework/card";
@import "components/framework/breadcrumb";
@import "components/framework/pagination";
@import "components/framework/badge";
@import "components/framework/jumbotron";
@import "components/framework/progress";
@import "components/framework/media";
@import "components/framework/navigation";
@import "components/framework/list-group";
@import "components/framework/close";
@import "components/framework/tooltip";
@import "components/framework/spinners";
@import "components/framework/footer";


//
// Utilities
//
@import "utilities/align";
@import "utilities/background";
@import "utilities/borders";
@import "utilities/clearfix";
@import "utilities/display";
@import "utilities/embed";
@import "utilities/flex";
@import "utilities/float";
@import "utilities/overflow";
@import "utilities/position";
@import "utilities/screenreaders";
@import "utilities/shadows";
@import "utilities/sizing";
@import "utilities/stretched-link";
@import "utilities/spacing";
@import "utilities/text";
@import "utilities/visibility";


//
// AMP.dev
//
@import "components/amp/script";
@import "components/amp/custom-loader";
@import "components/amp/carousel";
@import "components/amp/parallax";
@import "components/amp/scroll";
@import "components/amp/story";
@import "components/amp/notifications";
@import "components/amp/social-share";
@import "components/amp/web-push-notification";


//
// Print styles
//
@import "print/print";